.action{
    transition: all .3s linear;
    opacity: .3;
    cursor: pointer;
}

.action:hover{
    opacity: 1;
}
.hidden{
    height: 0;
    opacity: 0;
    cursor: default;
    pointer-events: none;

}
#author {
    opacity: 0
}
#author:hover{
    opacity: 1
}
#weather {
    text-align: right
}
#quote {
    text-align: end, center
}