body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff !important;
    font-weight: 900;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
.action{
    transition: all .3s linear;
    opacity: .5;
    cursor: pointer;
}

.action:hover{
    opacity: 1;
}
.hidden{
    height: 0;
    opacity: 0;
    cursor: default;
    pointer-events: none;

}
.greeting {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
#author {
    opacity: 0
}
#author:hover{
    opacity: 1
}
#weather {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}
#quote {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#todo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#footer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    padding-top: 15rem;
}